body {
	background-color: #D9C3FF;
}

h1 {
	font-family: serif;
	font-size: 30pt;
	color: #B512BB;
	text-align: center;
	border: 4px dashed black;
	background-color: white;
}

h2 {
	font-family: serif;
	font'size: 20pt;
	border: 2px dashed black;
	background-color: white;
	color: #B512BB;
}

p {
	background-color: white;
	border: 2px dashed black;
	text-align: center;
	font-family:Tahoma, Geneva, sans-serif;
}

a {
	color: #606;
	text-align: center;
}