<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Gallery</title>
<style type="text/css" media="screen">
.wrap {
	margin: 0 3%;
}

body {
	background: url(bedge_grunge.png);
}

article {
	width: 220px;
	float: left;
	padding: 10px;
	background: #f3f3f3;
	margin: 10px;
	opacity: .7;
}

footer {
	clear: both;
}
</style>
</head>
<body>
	<div class="wrap">
    <header>
    	<h1>This is a header</h1>
    </header>
    	<section>
        	<article>
            <h2>Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc volutpat justo quis erat tempus mattis. Sed vehicula auctor dolor, non pharetra turpis aliquet fermentum. Nullam tempus semper ligula et dictum. Suspendisse suscipit pellentesque tincidunt. Sed tortor libero, facilisis et vestibulum non, tincidunt ut justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec sagittis molestie augue, ac mattis diam pellentesque vel. Duis arcu metus, vestibulum quis gravida non, dignissim ut leo. Curabitur a libero eu felis sagittis ultrices. Cras et congue elit. Aliquam non arcu vitae risus posuere ullamcorper eget in tortor.</p>
            </article>
            <article>
            <h2>Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc volutpat justo quis erat tempus mattis. Sed vehicula auctor dolor, non pharetra turpis aliquet fermentum. Nullam tempus semper ligula et dictum. Suspendisse suscipit pellentesque tincidunt. Sed tortor libero, facilisis et vestibulum non, tincidunt ut justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec sagittis molestie augue, ac mattis diam pellentesque vel. Duis arcu metus, vestibulum quis gravida non, dignissim ut leo. Curabitur a libero eu felis sagittis ultrices. Cras et congue elit. Aliquam non arcu vitae risus posuere ullamcorper eget in tortor.</p>
            </article>
            <article>
            <h2>Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc volutpat justo quis erat tempus mattis. Sed vehicula auctor dolor, non pharetra turpis aliquet fermentum. Nullam tempus semper ligula et dictum. Suspendisse suscipit pellentesque tincidunt. Sed tortor libero, facilisis et vestibulum non, tincidunt ut justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec sagittis molestie augue, ac mattis diam pellentesque vel. Duis arcu metus, vestibulum quis gravida non, dignissim ut leo. Curabitur a libero eu felis sagittis ultrices. Cras et congue elit. Aliquam non arcu vitae risus posuere ullamcorper eget in tortor.</p>
            </article>
            <article>
            <h2>Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc volutpat justo quis erat tempus mattis. Sed vehicula auctor dolor, non pharetra turpis aliquet fermentum. Nullam tempus semper ligula et dictum. Suspendisse suscipit pellentesque tincidunt. Sed tortor libero, facilisis et vestibulum non, tincidunt ut justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec sagittis molestie augue, ac mattis diam pellentesque vel. Duis arcu metus, vestibulum quis gravida non, dignissim ut leo. Curabitur a libero eu felis sagittis ultrices. Cras et congue elit. Aliquam non arcu vitae risus posuere ullamcorper eget in tortor.</p>
            </article>
            <article>
            <h2>Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc volutpat justo quis erat tempus mattis. Sed vehicula auctor dolor, non pharetra turpis aliquet fermentum. Nullam tempus semper ligula et dictum. Suspendisse suscipit pellentesque tincidunt. Sed tortor libero, facilisis et vestibulum non, tincidunt ut justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec sagittis molestie augue, ac mattis diam pellentesque vel. Duis arcu metus, vestibulum quis gravida non, dignissim ut leo. Curabitur a libero eu felis sagittis ultrices. Cras et congue elit. Aliquam non arcu vitae risus posuere ullamcorper eget in tortor.</p>
            </article>
            <article>
            <h2>Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc volutpat justo quis erat tempus mattis. Sed vehicula auctor dolor, non pharetra turpis aliquet fermentum. Nullam tempus semper ligula et dictum. Suspendisse suscipit pellentesque tincidunt. Sed tortor libero, facilisis et vestibulum non, tincidunt ut justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec sagittis molestie augue, ac mattis diam pellentesque vel. Duis arcu metus, vestibulum quis gravida non, dignissim ut leo. Curabitur a libero eu felis sagittis ultrices. Cras et congue elit. Aliquam non arcu vitae risus posuere ullamcorper eget in tortor.</p>
            </article>
            <article>
            <h2>Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc volutpat justo quis erat tempus mattis. Sed vehicula auctor dolor, non pharetra turpis aliquet fermentum. Nullam tempus semper ligula et dictum. Suspendisse suscipit pellentesque tincidunt. Sed tortor libero, facilisis et vestibulum non, tincidunt ut justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec sagittis molestie augue, ac mattis diam pellentesque vel. Duis arcu metus, vestibulum quis gravida non, dignissim ut leo. Curabitur a libero eu felis sagittis ultrices. Cras et congue elit. Aliquam non arcu vitae risus posuere ullamcorper eget in tortor.</p>
            </article>
            <article>
            <h2>Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc volutpat justo quis erat tempus mattis. Sed vehicula auctor dolor, non pharetra turpis aliquet fermentum. Nullam tempus semper ligula et dictum. Suspendisse suscipit pellentesque tincidunt. Sed tortor libero, facilisis et vestibulum non, tincidunt ut justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec sagittis molestie augue, ac mattis diam pellentesque vel. Duis arcu metus, vestibulum quis gravida non, dignissim ut leo. Curabitur a libero eu felis sagittis ultrices. Cras et congue elit. Aliquam non arcu vitae risus posuere ullamcorper eget in tortor.</p>
            </article>
        </section>
        <footer>
        	<p>This is a footer</p>
        </footer>
	</div>
</body>
</html>
