<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Single</title>
<style type="text/css" media="screen">
.wrap {
	margin: 0 10%;
	
}

header, footer {
	background: #ccc;
}
</style>
</head>

<body>
	<div class="wrap">
    <header>
    	<h1>This is a header</h1>
    </header>
    	<section>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc volutpat justo quis erat tempus mattis. Sed vehicula auctor dolor, non pharetra turpis aliquet fermentum. Nullam tempus semper ligula et dictum. Suspendisse suscipit pellentesque tincidunt. Sed tortor libero, facilisis et vestibulum non, tincidunt ut justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec sagittis molestie augue, ac mattis diam pellentesque vel. Duis arcu metus, vestibulum quis gravida non, dignissim ut leo. Curabitur a libero eu felis sagittis ultrices. Cras et congue elit. Aliquam non arcu vitae risus posuere ullamcorper eget in tortor.</p>
        <p>Sed convallis sapien nec lacus hendrerit tempus. Pellentesque et ante tortor. Duis luctus neque at ante pretium ultricies. Aliquam mi dui, dictum sed laoreet in, luctus ut odio. Morbi faucibus tempus massa, at pharetra odio faucibus non. Pellentesque vestibulum fermentum luctus. Ut non felis consequat odio consequat fermentum et et orci. Duis vel hendrerit orci. Mauris tempus, augue ac rutrum feugiat, enim erat semper lorem, quis dictum urna massa a velit. Suspendisse mollis dapibus diam. Integer pharetra, arcu id condimentum feugiat, dui sem faucibus massa, sit amet cursus velit elit in nunc. Nam sed lectus ligula. Fusce vitae nisi ac odio ultrices viverra ac sed felis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    	</section>
        <footer>
        	<p>This is a footer</p>
        </footer>
	</div>
</body>
</html>
